body {
    background-color: gray;
}

#principal {
    text-align: center;
    background-color: darkslategray;
    width: 800px;
    height: 550px;
    border-radius: 30px;
}

header p {
    font-size: 15px;
    color: black;
    font-weight: lighter;
}

header h1 {
    text-decoration: underline;
}

#list-section {
    position: relative;
    border: black solid 1px;
    height: 350px;
    width: 400px ;
    left: 195px;
    margin: 10px;
    background-color: whitesmoke ;
    text-align: left;
}

#texto-tarefa {
    width: 300px;
    margin: 10px;
}

.selected {
    background-color: rgb(128,128,128);
}

.completed {
    text-decoration: line-through solid rgb(0, 0, 0);
}

.list-item {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}